{%extends 'all-news/layout.html'%}

{% block content %}
{{block.super}}
<hr>
<div class="container text-center">
    {% for news_item in news %}


    <div class="card card-cascade wider  col-lg-6">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top img-responsive" src="{{news_item.article_image.url}}" alt="Image">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0">

            <!-- Title -->
            <h4 class="card-title"><strong>{{ news_item.title }}</strong></h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong>{{news_item.post}}</strong></h5>
            <div class="card-footer text-muted text-center mt-4">
                <p>Posted {{news_item.pub_date|timesince}} by {{news_item.editor.first_name}}</p>
            </div>

        </div>

    </div>
    <hr>
    {% empty %}
    <div class="row text-center">
        <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}

</div>


{% endblock %}